name: Release and Upload Template ZIPs

on:
  pull_request:
    branches:
      - main
    types:
      - closed

permissions:
  contents: write

jobs:
  release:
    # PullRequest に release ラベルが付与されている場合のみ実行
    if: github.event.pull_request.merged == true && contains(github.event.pull_request.labels.*.name, 'release')
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false
      - name: Setup Node
        uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6.0.0
        with:
          node-version: '24'
          cache: npm
      - name: Install project
        run: |
          npm ci
          npm run generate
          npm test
      - name: Set date
        id: variables
        run: |
          TODAY=$(date '+%Y-%m-%d')
          echo "today=${TODAY}" >> $GITHUB_OUTPUT
      - uses: ncipollo/release-action@b7eabc95ff50cbeeedec83973935c8f306dfcd0b # v1.20.0
        with:
          artifacts: "dist/*.zip"
          name: "Release (${{ steps.variables.outputs.today }})"
          tag: ${{ steps.variables.outputs.today }}
          token: ${{ secrets.GITHUB_TOKEN }}
          allowUpdates: true
          removeArtifacts: true
          replacesArtifacts: true
